{% extends 'store/Main.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Change Password{% endblock title %}

{% block main-content %} 
<style>
    .reset-link{
      margin-top: 15px;
      text-align: center;
      font-weight: bold;
      font-size: 50px;
      color: green;
    }

    a{
        text-decoration: none;
    }

    
  </style>

<div class="reset-link">
    Successfully changed your password
</div>
<a href="{%url 'login'%}">Sign in Here</a>

{% endblock main-content %}