{% extends 'store/Main.html'%}
{% load static %}
{% block main-content %}
{%load crispy_forms_tags%}
<!-- <form method="POST" class="card-body">
    {% csrf_token %}
<div class='hideable_billing_form'>
    <div class="md-form mb-5">
      <input type='text' placeholder='1234 Main St' id='Name' name='Name' class='form-control' />
      <label for="Name" class="">Name</label>
    </div>

    <div class="md-form mb-5">
      <input type="email" placeholder='Apartment or suite' id='Email' name='Email' class='form-control' />
      <label for="email" class="">Email(optional)</label>
    </div>
    <div class="md-form mb-5">
      <input type="text" placeholder='Apartment or suite' id='Address' name='Address' class='form-control' />
      <label for="Address" class="">Address</label>
    </div>
    <div class="md-form mb-5">
      <input type="text" placeholder='Apartment or suite' id='City' name='City' class='form-control' />
      <label for="Address" class="">city</label>
    </div>
    <div class="md-form mb-5">
      <input type="text" placeholder='Apartment or suite' id='State' name='State' class='form-control' />
      <label for="state" class="">state(optional)</label>
    </div>
    <div class="md-form mb-5">
      <input type="text" placeholder='Apartment or suite' id='Zip_code' name='Zip_code' class='form-control' />
      <label for="state" class="">Zipcode</label>
    </div>
    <div class="md-form mb-5">
      <input type="text" placeholder='Apartment or suite' id='phonenumber' name='phonenumber' class='form-control' />
      <label for="state" class="">Phone number</label>
    </div>
    <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
    </div>
    </form>
     -->


<div class="content-section">
<form method="POST">
    {% csrf_token%}
    {{form|crispy}}
    

    <button class="btn btn-primary" type="submit">Place Order</button>
</form>
</div>
{% endblock main-content %}