{% extends 'store/Main.html'%}
{% load static %}
{% block main-content %}
<h3> Your Order amount is :{{totalprice}}</h3>
<button id="payment-button">

    Pay with khalti
</button>


<script>


    var config = {

        // replace the publicKey with yours
        "publicKey": "test_public_key_87d7f14b8c63474b9a1a423c05b11837",
        "productIdentity": "{{prod_id}}",
        "productName": "{{prod_name}}",
        "productUrl": "http://localhost:8000",
        "paymentPreference": [
 
        "KHALTI",
            "EBANKING",
            "MOBILE_BANKING",
            "CONNECT_IPS",
            "SCT",
            ],
        "eventHandler": {
            onSuccess (payload) {
               
                console.log(payload);

                $.ajax({
                    type:"GET",
                    url:"/khalti_verify",
                    data:{
                        'token':payload.token,
                        'amount':payload.amount,
                        'prod_id':'{{prod_id}}'
                    },
                    success:(data)=>{
                        if(data.success==true){
                            alert("Payment Completed Successfully")
                            location.href='{% url 'orders'%}'
                        }else{
                            alert("Sorry,Error ocuuerd")
                            location.href='{{ request.build_absolute_uri}}'
                        }
                    }
                })
         
             }
        }
    };

    var checkout = new KhaltiCheckout(config);
    var btn = document.getElementById("payment-button");
    btn.onclick = function () {
        checkout.show({amount: {{totalprice}}*100});
    }
</script>

{% endblock main-content %}