{% extends 'store/Main.html' %}
{% load static %}
{% block title %} Product Detail {% endblock title %}

{% block main-content %}
<style>

body {
  font-family:Arial, Helvetica, sans-serif ;
  overflow-x: hidden; }



.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em;
 
}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }



.product-title, .price, .sizes, .specification, .description,.reviews {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes,.product-specification {
  margin-bottom: 15px;
; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }





@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

  .add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
          transition: background .3s ease; }
  .add-to-cart:hover, .like:hover {
    background: #b36800;
    color: #fff; 
    
  
  }
  


</style>
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    
                    <div class="preview-pic tab-content">
                      <div class="tab-pane active" id="pic-1"><img src='/media/{{Product.Image}}' style="height: 500px; width:500px;"/></div>
                      <div class="tab-pane" id="pic-2"><img src='/media/{{Product.Image}}' /></div>
                      <div class="tab-pane" id="pic-3"><img src='/media/{{product.Image}}' /></div>
                      <div class="tab-pane" id="pic-4"><img src='/media/{{product.Image}}' /></div>
                      <div class="tab-pane" id="pic-5"><img src= '/media/{{product.Image}}'/></div>
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                      <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src='/media/{{Product.Image}}' /></a></li>
                      <li><a data-target="#pic-2" data-toggle="tab"><img src='/media/{{Product.Image}}' /></a></li>
                      <li><a data-target="#pic-3" data-toggle="tab"><img src='/media/{{Product.Image}}'/></a></li>
                      <li><a data-target="#pic-4" data-toggle="tab"><img src='/media/{{Product.Image}}' /></a></li>
                      <li><a data-target="#pic-5" data-toggle="tab"><img src='/media/{{Product.Image}}' /></a></li>
                    </ul>
                    
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{Product.Product_Name}}</h3>
                    <div class="rating">
                      
                        <span class="reviews">Reviews</span> 
                        <div class="stars">
                          {% if user.is_authenticated%}
                          {%if canAdd%}
                        <button data-bs-toggle="modal" data-bs-target="#productReview" type="button" class="btn btn-warning btn-sm reviewBtn">Add Review</button>
                        {%endif%}
                        {%endif%}

                        {% if not user.is_authenticated%}
                        
                        {% endif %}

                          
                          <!-- Modal -->
                          <div class="modal fade" id="productReview" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Review the Products</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <form  method="post" id="addForm" action="{%url 'save_review' Product.id%}">
                                    {% csrf_token %}
                                  <table class="table table-bordered">
                                    {{reviewForm.as_table}}
                                    <tr>
                                      <td colspan="2">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <input type="reset" value="reset" id="reset" />
                                      </td>
                                    </tr>
                                  </table>
                                  <p class="ajaxRes"></p>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                      
                          <div class="reviewlist">
                            <span class="Avg-rating"><span>Avg reviews:</span> {{avg_reviews.avg_rating}}/5</span>
                            <blockquote>
                              {% for review in reviews %}
                              <small>{{review.review_text}}</small>
                             
                          <br>
                          {% for star in review.review_rating|ljust:review.review_rating%}
                            <span class="fa fa-star checked"></span>
                           {% endfor %}
                           
                          </blockquote>
                          <span>Reviewed by: {{review.user}}</span>
                          </div>
                           
                          {% endfor %}
                            
                        </div>
                    </div>
                    <h5 class="description">Description</h5>
                    <p class="product-description">{{Product.Description}}</p>
                    <h4 class="price">Price: <span>Rs {{Product.Price}}</span></h4>
                    {% if user.is_authenticated %}

                    {%if item_already_in_cart%}
                    <a href="{% url 'show-cart'%}"  class="btn btn-warning shadow px-5 py-2 ms-4">Go to cart</a>
                    {% else %}
                    <form action="/cart">
                      <input type="hidden" name="prod_id" value="{{Product.id}}" id="prod_id">
                      <div >
                        <button class="add-to-cart btn btn-default" id="btn" type="submit">add to cart</button>
                        <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                      </div>
                    </form>
                    {%endif%}
                    {%endif%}
                    {%if not user.is_authenticated%}
                    <form action="/cart">
                      <input type="hidden" name="prod_id" value="{{Product.id}}" id="prod_id">
                      <div >
                        <button class="add-to-cart btn btn-default" id="btn" type="submit">add to cart</button>
                        <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                      </div>
                    </form>
                    {% endif%}

                   
                     
                   <h5 class="specification" style="margin-top: 10px;">
                    Specification:
                   </h5>
                   <p class="product-specification"> {{Product.Specifications}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>

{% endblock main-content %}